/* .banner1,
.banner2,
.banner3,
.banner4 {
    height: 100%;
    width: 100%;
} */


.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-out 5s ease-out;
}

@keyframes zoom-out {
    from {
        scale: 1.03;
    }

    to {
        scale: 1;
    }
}



.banner {
    overflow: hidden;
    position: relative;
    width: 100%;
}